body{
    background-color: #23001e
}
nav{
    background-color: #E78F8E
}
#nav-mobile{
    margin-right: 20px;
    color: #ECE2D0
}
.brand-logo{
    margin-left: 20px;
    color: #ECE2D0
}
#social-logo{
    width: 30px;
    height: 30px;;
}