html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #23001e
}
nav{
    background-color: #E78F8E
}
#nav-mobile{
    margin-right: 40px;
    color: #ECE2D0 !important;
}
.brand-logo{
    margin-left: 40px;
    color: #ECE2D0 !important;
}
#social-logo{
    width: 30px;
    height: 30px;;
}
#main-body{
    color: #ECE2D0;
    flex: 1;
    padding: 20px;
}
footer{
    color: #ECE2D0;
    background-color: #E78F8E;
    padding: 20px;
}
#contact-button{
    background-color: #996888 !important;
}
/* #profile-photo{
    width: 200px; 
    height: 200px;
    border-radius: 30px;
} */
#image-cropper {
    width: 200px;
    height: 280px;
    position: relative;
    /* overflow: hidden; */
    border-radius: 50px;
    margin-top: 50px;
    margin-left: 40px;
}
#profile-photo {
    display: inline;
    margin: 0 auto;
    margin-left: -25%; 
    height: 100%;
    width: auto;
}
#main-body-about{
    color: #ECE2D0;
    flex: 1;
    padding: 20px;
    text-align: center;
}
.btn{
    background-color: transparent !important;
    margin-left: 10px;
}
#myChart{
    width: 200px;
    height: 200px;
}
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
#tech-logos{
    display: flex;
    align-items: center;
    justify-content: center;
}
#projects{
    display: flex;
}
ul.a{
    list-style-type: square;
}
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

